
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div id="app">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#"></a>
		  <nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand" href="#">
		    <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
		    Bootstrap
		  </a>
		</nav>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Ver Artistas <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Reproducir Lista</a>
		      </li>
		  
		    </ul>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" v-model="texto_buscador" type="search" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" @click="buscar()" type="button">Search</button>
		    </form>
		  </div>
		</nav>

		<div class="row row-cols-1 row-cols-md-2" v-for="item in items">

		  	<div class="col mb-4">
		    <div class="card">
		      <img v-if="item.images[0]" :src="item.images[0].url" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title">{{item.name}}</h5>
		        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		      </div>
		    </div>
  		</div>
  		
</div>
	

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	var app = new Vue({
  	el: '#app',
  	data: {
  		token: "Bearer BQCGC1596h0EDzb9rqYit8Fv8aG_nvXhrF861NkkVL3PLIXaeAshyl8uY5c06qVorfbMLu6Vw16uBKN-6CnIvxqBO79gQWPo2rJKtPrQalNH6ZTUfVZ9DBjBVmQxDn3QVSwH4wsISlS-Ks5VKIriSV3ZfXm-v9FCBbeo2cLFe660lJinC1bFdUuoeQ7JkGJFfYN69XjYfzYPUKLVngSPaSxQLKDvFWhv_QLm1idUj5Rwg_IxDJjicf1jBWtiVjUD1_fIOV7MFm7-e_Rht7HqHKz7lYH_DnmwvEE",
  		items: [],
  		texto_buscador: ''
  		},
  		mounted(){
  			axios.get('https://api.spotify.com/v1/browse/new-releases', { headers: {Authorization: this.token} })
  			.then(respuesta =>{
  				//console.log(respuesta.data.albums.items);
  				this.items = respuesta.data.albums.items;
  			})
  		},
  		methods: {
  			buscar(){
  				axios.get('https://api.spotify.com/v1/search?q='+ this.texto_buscador +'&type=artist',{ headers: {Authorization: this.token} })
  			.then(respuesta =>{
  				//console.log(respuesta.data.albums.items);
  				this.items = respuesta.data.artists.items;
  			})
  			}
  		}
	})
</script>
</body>
</html>